@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: #b8bdcc;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-self: center;
    width: 480px;
    height: 720px;
    background-color: #1c2749;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}

.display {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
    height: 100px;
    background-color: #b8bdcc;
    border: 2px solid black;
    border-radius: 25px;
}

.displayval {
    padding-right: 20px;
    font-size: 52px;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: 440px;
    height: 540px;
    gap: 10px;
}

.buttoncontainer>button {
    font-size: 24px;
    width: 100px;
    height: 75px;
    border-radius: 25px;
}

#zerobutton {
    width: 210px;
}

.buttonfooter {
    padding: 50px;
    margin: auto;
    color: white;
}

.buttonfooter>a {
    color: white;
}

.buttonfooter>a:hover, a:visited {
    color: rgb(167, 58, 189);
}